@import "./styles/mixins.scss";

.container {
  background: linear-gradient(to right, rgb(180, 214, 244), rgb(250, 255, 255));
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  .toggle {
    position: absolute;
    top: 1rem;
    .col {
      display: flex;
      justify-content: flex-end;
      button {
        border: none;
        background: none;
      }
    }
  }
  .row {
    width: 100%;
    z-index: 1;
    .col-form {
      padding: 0 10rem;
      @include tablet {
        padding: 0 2rem;
      }
    }
  }
  form {
    display: flex;
    width: 100%;
    .form-group {
      justify-content: center;
      width: 100%;
      display: flex;
      align-items: center;
      img {
        margin-right: -70px;
        z-index: 1;
      }
      input {
        z-index: 0;
        padding: 2rem 1rem 2rem 6rem;
      }
    }
    button {
      margin-left: -85px;
      background: none;
      border: none;
      border-top: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
      display: flex;
      align-items: center;
      z-index: 1;
      mat-icon {
        font-size: 33px;
        color: dimgrey;
      }
    }
  }
  .weather-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .one-data {
    }
  }
  .current-weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .current {
      font-family: sans-serif;
    }
    .current#current-time {
      font-size: 1.5rem;
      color: cadetblue;
    }
    .current#current-temp {
      font-size: 8rem;
      color: cornflowerblue;
    }
  }
  .weather-data {
    .one-data {
      p.three-hour {
        font-family: sans-serif;
      }
      p#three-hour-time {
        font-weight: bolder;
        color: cadetblue;
      }
      p#three-hour-temp {
        font-size: 1.3rem;
        color: cornflowerblue;
        font-weight: bolder;
      }
    }
  }
}
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
}
.dark-class {
  background: linear-gradient(
    to right,
    rgb(0, 27, 50),
    rgb(59, 56, 93)
  ) !important;
  color: white;
}
.white-class {
  background: linear-gradient(to right, rgb(180, 214, 244), rgb(250, 255, 255));
}
.backColor-cold {
  background: linear-gradient(
    to right bottom,
    rgb(4, 52, 95) 40%,
    rgb(1, 74, 74)
  );
}
.backColor-normal {
  background: linear-gradient(
    to right bottom,
    rgb(180, 214, 244) 40%,
    rgb(230, 218, 115)
  );
}
.backColor-sunny {
  background: linear-gradient(
    to right bottom,
    rgb(231, 231, 55),
    rgb(232, 164, 53)
  );
}
.backColor-hot {
  background: linear-gradient(
    to right bottom,
    rgb(218, 140, 23),
    rgb(174, 56, 17)
  );
}
#cityName {
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: center;
  font-size: 10rem;
  opacity: 0.2;
  font-family: fantasy;
  letter-spacing: 20px;

  @include tablet {
    font-size: 7rem;
    letter-spacing: 10px;
  }
}
