<div
  class="container"
  [class.dark-class]="isDark"
  [class.white-class]="!isDark"
>
  <div
    class="cover"
    *ngIf="currentWeather && !isDark"
    [class.backColor-cold]="currentWeather.main.temp <= 5"
    [class.backColor-normal]="
      currentWeather.main.temp > 5 && currentWeather.main.temp < 15
    "
    [class.backColor-sunny]="
      currentWeather.main.temp >= 15 && currentWeather.main.temp < 25
    "
    [class.backColor-hot]="currentWeather.main.temp >= 25"
  ></div>
  <div class="row toggle">
    <div class="col">
      <button (click)="isDark = !isDark">
        <img
          *ngIf="isDark"
          src="https://raw.githubusercontent.com/talohana/angular-dark-mode/master/src/assets/moon.svg"
          class="btn-image"
          id="moon"
          height="30px"
        />
        <img
          *ngIf="!isDark"
          src="../assets/images/3731894.png"
          class="btn-image"
          id="sun"
          height="30px"
        />
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-form">
      <form #form="ngForm" (submit)="onSubmit()">
        <div class="form-group">
          <img src="../assets/images/3731894.png" height="58px" alt="" />
          <!-- <input
            type="text"
            name="coutnryCode"
            id="countryCode"
            [(ngModel)]="countryCode"
          /> -->
          <input
            class="form-control"
            type="search"
            name="cityName"
            [(ngModel)]="cityName"
            placeholder="Please input a name of city"
          />
        </div>
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="currentWeather">
    <div class="col current-weather-data">
      <div class="col" id="cityName" [class.dark-class]="isDark">
        {{ currentWeather.name }}
      </div>
      <p class="current" id="current-time">
        {{ weatherData.list["0"].dt_txt | date : "fullDate" }}
      </p>
      <p class="current" id="current-temp">
        {{ currentWeather.main.temp | number : "1.0-0" }}&#8451;
      </p>
    </div>
  </div>
  <div class="row" *ngIf="weatherData">
    <div class="col weather-data" *ngFor="let i of numbers">
      <div class="one-data">
        <p class="three-hour" id="three-hour-time">
          {{ weatherData.list[i].dt_txt | date : "H" }} h
        </p>
        <p class="three-hour" id="three-hour-temp">
          {{ weatherData.list[i].main.temp | number : "1.0-0" }}&#8451;
        </p>
      </div>

      <p class="text-center"></p>
    </div>
  </div>
</div>
